.board {
    display: grid;
    gap: 1px;
}
.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cell.white {
    background-color: #f0f0f0;
}
.cell.black {
    background-color: #333;
    color: #fff;
}
.cell.invalid.white {
    background-color: #9ecdff !important;
}
.cell.invalid.black {
    background-color: #233e5c !important;
}
.queen {
    
    color: rgb(0, 0, 0);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
