.board {
    display: grid;
    gap: 1px;
}
.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cell.white {
    background-color: #f0f0f0;
}
.cell.black {
    background-color: #333;
    color: #fff;
}
.cell.invalid.white {
    background-color: #94d1ff !important;
}
.cell.invalid.black {
    background-color: #10354d !important;
}
.queen {
    
    color: rgb(0, 0, 0);
}

body {
    font-family: 'Copperplate', sans-serif;
    background: #727272;
    font-family: Orbitron, sans-serif;
}

.container {
    width: 600px;
    min-height: 745px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 40px;
    background-color: #d1d1d1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item a {
    display: block;
    padding: 20px;
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu-item a:hover {
    background-color: #303030;
}

